<form>
  <div class="row">
    <div class="col">
  <h1 class="titulo">Obrigado por se cadastrar conosco!</h1>
  <p>Agora daremos inicio ao processo de validação de seus dados e documentos. Você pode fazer o acompanhamento por <a class="rotas" (click)="irAgradecimento()" role="button">esse link</a> ou pelo menu de Acompanhamento e validação na parte superior da página.</p>
  <p>Lembre-se que caso seja necessário a HDI poderá solicitar outras documentações durante o processo de aprovação de seu cadastro como corretor, mas não se preocupe que nosso time entrará em contato através do e-mail ou telefone cadastrados.</p>
</div>
</div>
</form>