<form>
  <div class="container">
    <div class="row">
      <div class="col">
        <strong>Informações Circular SUSEP Nº 380</strong>
      </div>
    </div>

    <div class="row">
      <div class="col mt-5">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="atvPrincipal">Atividade Principal</label>
          <input type="email" id="atvPrincipal" name="atvPrincipal" class="form-control">
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="administrador">Administrador</label>
          <input type="email" id="administrador" name="administrador" class="form-control">
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="procurador">Procurador</label>
          <input type="email" id="procurador" name="procurador" class="form-control">
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="vlrCapitalSocial">Valor Capital Social</label>
          <input type="email" id="vlrCapitalSocial" name="vlrCapitalSocial" class="form-control">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="controladorPJ">Controlador PJ</label>
          <input type="email" id="controladorPJ" name="controladorPJ" class="form-control">
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="controladorPJ">Controlador PJ</label>
          <input type="email" id="controladorPJ" name="controladorPJ" class="form-control">
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="controladorPF">Controlador PF</label>
          <input type="email" id="controladorPF" name="controladorPF" class="form-control">
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="faturamentoPresumido">Faturamento Presumido</label>
          <input type="email" id="faturamentoPresumido" name="faturamentoPresumido" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mt-3">
        <div class="checkbox">
          <label><input type="checkbox" id="confirmar"><strong>Ao enviar este cadastro, eu a Corretora, assumo total
              responsabilidade pelos dados aqui enviados como expressão da verdade</strong></label>
        </div>

      </div>



      <div class="row">
        <div class="col align-self-end mt-5">
          <nav>
            <ul class="pagination">
              <li class="page-item">
                <button type="button" class="btn btn-success bottom">Voltar</button>
              </li>
              <li class="page-item">
                <button type="button" class="btn btn-success bottom">Próximo</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>



  </div>
</form>
