.registro {
    background-color: rgb(241, 238, 238);
    padding: 20px;
    font: HDI-Gerling Sans;
    font-weight: normal;
    font-size: 11px;
    color: rgb(120, 120, 120);
}

.topform{
  margin-top: 30px;
}

.botaovalidar{
    
    font: HDI-Gerling Sans;
    font-weight: bold;
    font-size: 10px;
}
