<form>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h2>Aprovação Cadastro de Corretor</h2>
            </div>
        </div>

        <div class="row">
            <div class="col mt-5">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="grupoAprovar">
                    <button type="button" class="aprovar btn btn-success bottom"
                        (click)="aprovarCadastro()">Aprovar</button>
                    <div class="form-group" *ngIf="etapa===1">
                        <!-- <label for="execContas">Executivo de Contas</label>
                        <input type="text" onchange="execContas()" id="execContas" name="execContas" class="form-control" [(ngModel)]="ExecutivoDeContas" [disabled]="disableInput()"> -->

                        <mat-form-field class="example-full-width">
                            <label for="executivodecontas">Executivo de Contas</label>
                            <input #inputText name="executivodecontas" class="form-control" matInput [matAutocomplete]="auto" [(ngModel)]="nomeLista" maxlength="50" (keypress)="validarCaracter($event)">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let corretor of corretoresLista" [value]="corretor"
                                    (click)="selecionarCorretor(corretor)">
                                    <span>{{ corretor.nomProdutor }}</span>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                    </div>
                </div>

                <div class="espaco mt-5" *ngIf="etapa===3 || etapa===4">
                    <br>
                    <br>
                </div>

                <div class="grupoReprovar" *ngIf="etapa===1 || etapa===3 || etapa===4">
                    <button type="button" class="reprovar btn btn-danger bottom"
                        (click)="reprovaCadastro()">Reprovar</button>
                    <div class="form-group mt-3">
                        <label for="motivoReprov">Motivo Reprovação</label>
                        <input type="text" id="motivoReprov" name="motivoReprov" class="form-control"
                            [(ngModel)]="motivoReprova" maxlength="50">
                    </div>
                </div>
            </div>

            <div class="col" *ngIf="etapa===1">
                <button type="button" class="redirSuc btn btn-warning bottom"
                    (click)="redirecionarSucursal()">Redirecionar Sucursal</button>
                <div class="form-group mt-3">

                    <label for="novaSucursal">Nova Sucursal</label>
                    <select type="text" id="novaSucursal" name="novaSucursal" [(ngModel)]="sucursalSelecionada"
                        class="form-control">
                        <option [ngValue]="ativa" *ngFor='let ativa of sucursaisAtivas'>
                            {{ ativa.NomeSucursal }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="grupoPendencias">
                    <button type="button" class="solPen btn btn-warning bottom" (click)="solicitarPendencia()">Solicitar
                        Pendencia</button>
                    <div class="form-group mt-3">
                        <label for="pendencias">Pendencias ou Novos Documentos</label>
                        <input type="text" id="pendencias" name="pendencias" class="form-control"
                            [(ngModel)]="motivoPendencia" maxlength="50">
                    </div>
                </div>
            </div>

            <div class="col" *ngIf="etapa===3 || etapa===4">
                <button type="button" class="voltarEtapa btn btn-warning bottom" (click)="voltarEtapa()">Voltar
                    Etapa
                    Aprovação</button>
                <div class="form-group mt-3">
                    <label for="voltarEtapa">Etapa de aprovação</label>
                    <select type="text" id="voltarEtapa" name="voltarEtapa" class="form-control" [(ngModel)]="selecEtapa">
                        <option *ngFor="let etapaSelecionada of listaEtapa" value="{{etapaSelecionada}}">{{etapaSelecionada}}</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <label for="motivoVoltar">Motivo para voltar etapa</label>
                    <input type="text" id="motivoVoltar" [(ngModel)]="motivoVoltar" name="motivoVoltar"
                        class="form-control" maxlength="50">
                </div>
            </div>

        </div>

        <app-tabs *ngIf="respostaToken"></app-tabs>

    </div>
</form>