<form>
  <div class="row mt-2">
    <div class="offset-sm-3 offset-md-3 offset-lg-4 col-sm-6 col-md-6 col-lg-4 registro">
      <div class="row">
        <div class="col">
          <p class="redirecionamento">O CPF informado já possui cadastro ativo na HDI Seguros. Caso queira se cadastrar
            em uma nova filial prosseguir através do HDI Digital</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-raised btn-success pull-left">Voltar</button>
        </div>
        <div class="col">
          <a href="https://www.hdi.com.br/hdidigital/"><button type="button" class="btn btn-raised btn-success pull-right">Ir para HDI Digital</button></a>
        </div>
      </div>
    </div>
  </div>
</form>